# RStudio files
.Rproj.user

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Large files
data-raw/fish_data.csv
data-raw/physico_chemistry_data.csv
R/metaweb_build.R
R/plot_code_webs.R
R/local_network_build.R
data-raw/physico_chemistry_data.csv
vignettes/metaweb_cache
vignettes/metaweb_files
data-raw/lake_temperature
data-raw/lake_individual_size.txt