# Large or not useful files
BassinVersantTopographique_Métropole2019_BDTopage
lake_individual_size
lake_temperature
diet_shift.rda
environment/daily_avg_temp_lake.rda
environment/monthly_avg_dbo5_lake.rda
fish_data.csv
fish_diet_shift_missing_lake_species.txt
fish_fish_predation_window.csv
fish_length.rda
ind_size.rda
ind_size_lake_stream.rda
lake_dataset.txt
lake_individual_size.txt
lake_list.txt
lake_number_gillnets_benthic.txt
lake_number_gillnets_pelagic.txt
length_analysis.rda
ontogenic_diet_shift_fish.csv
ontogenic_diet_shift_resource.csv
physico_chemistry_data.csv
plando_fish_list.csv
plando_sampling_year.csv
plando_spatial_coordinates.csv
pred_win_missing_lake_species.txt
region_polygon.rda
species.rda
station.rda
station_analysis.rda